<template></template>

<script>
  /* global BASE_URL */

  export default {
    created() {
      if (typeof this.$ssrContext !== "undefined") {
        const currentUrl = BASE_URL + this.$page.path;

        this.$ssrContext.userHeadTags += `<link rel='canonical' href='${currentUrl}'/>`;

        if (this.next) {
          this.$ssrContext.userHeadTags += `<link rel='next' href='${this.next}'/>`;
        }

        if (this.prev) {
          this.$ssrContext.userHeadTags += `<link rel='prev' href='${this.prev}'/>`;
        }
      }
    },
    computed: {
      prev() {
        try {
          return BASE_URL + this.$pagination.getSpecificPageLink(this.$pagination.paginationIndex - 1)
        } catch (e) {
          return '';
        }
      },
      next() {
        try {
          return BASE_URL + this.$pagination.getSpecificPageLink(this.$pagination.paginationIndex + 1)
        } catch (e) {
          return '';
        }
      },
    },
  };
</script>